[2013-05-01 09:26] masev opened #3 "Can't perform a search with a criteria on a tag field"
When adding a criteria on a tag field the search ends up with a PDO Exception.

Let's say I add a criteria :

[code]

I get the Exception :

[code]

It looks like the WHERE condition is not generated and the resulting query looks like :

[code]

As you can see there is no WHERE condition.

[2014-05-07 16:03] #3 closed, assigned to emodric

[2014-05-12 09:22] lolautruche opened #6 "Tag 1.1.0"
1.0 has been released almost one year ago. Is it possible to tag 1.1.0 ?

Thanks

[2014-05-27 17:28] #6 closed, assigned to emodric

[2014-06-09 02:06] wizhippo opened #8 "pgsql loadFieldData error"
SQLSTATE[42P10]: Invalid column reference: 7 ERROR: for SELECT DISTINCT, ORDER BY expressions must appear in select list

It looks like ->selectDistinct( "eztags.*" ) will not work when using orderby as pgsql 9.3 requires the columns used in the orderby be in the select.

You can fix it by adding the columns like

->selectDistinct( "eztags_attribute_link.id, eztags.*" )

[2014-06-09 03:28] wizhippo opened #9 "pgsql case sensitive search"
The autocomplete for eztags is case sensitive in pgsql as pgsql's "LIKE" is case sensitive

[2014-06-09 03:34] #9 closed, assigned to nobody

[2014-06-19 13:50] vFederer opened #11 ""Could not find 'Limitation' with identifier 'Tag'" while reading role from rest interface"
Hi,

If you have a role with the policy

| Module | function | limitation |
| --- | --- | --- |
| tags | add | Tag( `<NodeList>` ) |

and you read this role over the rest interface ( for exampe `/api/ezp/v2/user/roles/194/policies`), then you get a "404 Not Found" `Could not find 'Limitation' with identifier 'Tag'`.

Is it possible to fix this issue?

I am using eZ Publish Enterprise 5.2 and TagsB

[2014-06-20 15:39] #11 closed, assigned to emodric

[2014-08-19 07:31] vFederer opened #12 "Endless recursion in TagsService SignalSlot whenn calling getTagSynonymCount and loadTagSynonyms"
Hello,

when calling the method `getTagSynonymCount` or `loadTagSynonyms` from `Core/SignalSlot/TagsService.php` i get an allowed memory size fatal error.

I found out, that in the SignalSlot is an endless recursion. The two methods are calling them selfes instead of the appropriate method in `$this->service`:

[code]

Best regards,
@vFederer

[2014-08-19 09:52] #12 closed, assigned to nobody

[2014-08-20 09:27] vFederer opened #13 "Create FieldType with Public API"
Hello,

it would be great, if it would be possible to specify the field settings when creating a `eztags` field with the eZ 5 Public API. Something like:

[code]

Best regards,
@vFederer

[2014-08-22 08:11] #13 closed, assigned to nobody

[2014-09-05 10:02] vFederer opened #14 "Remove Tag from Content through Public API"
Hello,

it is not possible to remove a Tag from a Content through the Public API. The function `storeFieldData` of the [LegacyStorageGateway](https://github.com/netgen/TagsBundle/blob/master/Core/FieldType/Tags/TagsStorage/Gateway/LegacyStorage.php) just inserts tags in the database.

Best regards,
@vFederer

[2014-09-15 12:57] #14 closed, assigned to nobody

[2014-11-12 12:55] #8 closed, assigned to nobody

[2014-12-17 14:54] tak1n opened #16 "Dependencies not resolvable"
[code]

In our composer.json the specific require part:

[code]

[2014-12-17 15:04] #16 closed, assigned to nobody

[2015-01-22 09:44] torjusb opened #17 "Tag new version?"
Would it be possible to tag a new version with the changes in the master branch? I need to get the "subTreeLimit" option which only seems to be available with the changes in the master branch. I'd prefer to avoid having to rely on using "dev-master" in Composer.

Thanks!

[2015-01-27 09:43] emodric commented on #17
Hey @nifty

I can do that, but give me a day or two to check it out, I need to sync the tagging with legacy eztags extension, since they're dependent.

[2015-02-13 12:56] iherak opened #18 "Impossible to create tag with parent tag id 0"
When creating tags through API, it is not possible to create tags with parent tag id 0 (top level tags).

$tagsCreateStruct = $tagsService->newTagCreateStruct( 0, $tag );

Returns:
Could not find 'tag' with identifier '0'

[2015-02-19 14:44] #18 closed

[2015-02-19 14:44] emodric commented on #18
Thanks, fixed!

[2015-04-21 08:48] emodric commented on #17
Hi @torjusb!

I know this was long overdue and sorry for that, but now the new tag is finally created :)

[2015-04-21 08:48] #17 closed

[2015-04-30 10:32] markblackmore opened #22 "eztags bundle causing fatal error in ezpublish enterprise 5.4.2"
Hi
I upgraded from enterprise version 5.4.1 to 5.4.2 and now get this fatal error:
`The parent definition "ezpublish.persistence.legacy.search.gateway.criterion_handler.base" defined for definition "ezpublish.persistence.legacy.search.gateway.criterion_handler.common.tag_id" does not exist.`
I can see that in vendor/netgen/tagsbundle/Netgen/TagsBundle/Resources/config/storage_engines/legacy/search

[2015-04-30 10:37] emodric commented on #22
Hi @markblackmore

This is a known issue, please see #19 and #21.

Please use `search_namespace_rename` branch for the time being which fixes the issue. I cannot merge it to master and tag it yet, since eZ Publish Community in latest version (2014.11) still uses the old namespaces.

[2015-04-30 10:37] #22 closed

[2015-04-30 10:42] markblackmore commented on #22
OK, thankyou.

[2015-05-05 08:32] htollefsen opened #23 "Unable to update search index"
When I try to update the elasticsearch index the following error occurs when trying to index content with an eztags fieldtype: **No type registered for eztags**

### Steps to reproduce
1. Install TagsBundle in a fresh eZPublish installation (5.4+), and create a populate values into any contenttype with an eztags fieldtype.
2. Install elasticsearch and enable EzPublishElasticsearchBundle
3. Run ```

[2015-05-05 08:53] emodric commented on #23
Hi!

I haven't implemented indexing handlers for `eztags` field type yet, since the implemenatation is not complete yet (AFAIK, please correct me if I'm wrong).

There was a pull request #20 recently that activated the search capability in the field type, but without implementing handlers. Can you check if removing `isSearchable` method from field type fixes your problem?

[2015-05-05 14:43] htollefsen commented on #23
I am not sure of this, myself, but it makes sence regarding the missing documentation (atleaset I had a hard time finding one.

I removed ```isSearchable``` from Netgen\TagsBundle\Core\FieldType\Tags\Type.php but the result were the same.

[2015-05-05 14:45] emodric commented on #23
Alright, thanks for testing. In that case, I have no idea how to fix this issue yet :(

[2015-05-05 14:55] htollefsen commented on #23
I'm just throwing this out there, as I'm pretty fresh to FieldType implementations in eZPublish 5, but isn't the FieldType missing a an implementation of [FieldStorage for the SPI](https://doc.ez.no/display/EZP/Field+Type+API+and+best+practices#FieldTypeAPIandbestpractices-Storingexternaldata)?

[2015-05-05 14:56] emodric commented on #23
@htollefsen Hm... I'll look into it, thanks!

[2015-05-06 16:15] htollefsen commented on #23
@emodric FYI, I don't know how I missed [the documentation](https://doc.ez.no/display/EZP/Configure+Search+Engines+Bundles) or if it has just been made public today, but I clearly had some missconfigurations that might be the cause my issue. I'll test again soon with proper configs.

[2015-05-07 12:14] emodric commented on #23
Hi @htollefsen

This issue is fixed in https://github.com/netgen/TagsBundle/commit/6e331f1b82ce9cf343eba8d5f704304d0e8994d5.

I marked the `eztags` field type as unindexable for now. Feel free to create a new enhancement issue in order to implement `eZ\Publish\SPI\FieldType\Indexable` interface in the field type :)

[2015-05-07 12:14] #23 closed

[2015-05-14 17:46] htollefsen opened #25 "Implement eZ\Publish\SPI\FieldType\Indexable"
As talked about in #23 it would be awesome if this bundle would implement ```eZ\Publish\SPI\FieldType\Indexable```! It would be great to use ```Criterion\Field( "fieldtype_identifier", Criterion\Operator::CONTAINS, "MyEzkeyword" )``` to fetch locations based on tags together with other criterions, e.g. in article categories and such.

I really hope you will look into this in the near future!

[2015-05-14 22:20] emodric commented on #25
I will implement it, but I'm not yet 100% sure when exactly. I did start looking into it, the way in which search API is implemented as a whole.

[2015-05-20 13:23] wizhippo opened #26 "getRelatedContent should support ordering and criterion"
I believe getRelatedContent should support ordering and criterion.  The use case of ordering should be obvious.  I also see the use case of only wanting to return related content based on criterion.

I was thinking adding changing it to public function getRelatedContent( Tag $tag, $offset = 0, $limit = -, $order, sortClauses = null, $criterion = null);

This change would also need to be reflected

[2015-05-20 13:27] emodric commented on #26
Hi @wizhippo,

the purpose of that method from start was to return unordered list of related content. Since the content can be distributed throughout the whole eZ database, it doesn't really have sense to employ sorting and filtering.

What you want can be achieved with eZ search APIs and `TagId` and `TagKeyword` criteria.

[2015-05-20 13:29] wizhippo commented on #26
That's too simple.  Thanks.

[2015-05-20 13:29] #26 closed

[2015-05-20 13:31] emodric commented on #26
Care to elaborate? :)

[2015-05-20 13:41] wizhippo commented on #26
For some reason I forgot that that a tag is just another field type and I was looking at the tagservice to do it all.  Silly me.

[2015-05-20 14:49] emodric commented on #26
Ah, OK :) I'm glad it's working for you :)

[2015-05-21 01:41] wizhippo opened #27 "Get tags that start with a value via tagservice"
To create an auto-complete function for keywords the ability is needed to get tags with a keyword starting with a value.  Should this be added to the tagservice?  Should it be an extension to getTagsByKeyword or a new getTagsByKeywordStartingWith or similar function?

[2015-05-21 07:13] emodric commented on #27
That's a good idea @wizhippo!

I'll think about the best approach for implementing this.

[2015-05-26 21:41] edgecrusherr opened #28 "Incompatibility with ezpublish-kernel 6.0.0-alpha2"
The bundle seems to be incompatible with the mentioned version:

 Fatal error: Declaration of Netgen\TagsBundle\Core\Search\Legacy\Content\Common\Gateway\CriterionHandler\TagId::handle() must be compatible with eZ\Publish\Core\Search\Legacy\Content\Common\Gateway\CriterionHandler::handle

Is there a quick fix for this? Thanks

[2015-05-26 21:43] edgecrusherr commented on #28
Just noticed the pull request, apologies for the duplicate issue. Has there been any news on the coming version?

[2015-06-03 08:58] emodric commented on #28
I cannot tag it yet unfortunatelly. It would break eZ Publish Enterprise 5.4.2. This API is different in 5.4.1, 5.4.2 and eZ Platform and it's not easy keeping compatibility between minor versions, yet alone different products altogether.

The best I could do perhaps is to patch the master branch but without tagging.

[2015-06-08 14:47] #28 closed

[2015-09-08 09:48] emodric commented on #25
@htollefsen I've implemented tags indexing handler, as discussed at PHP Summer Camp :)

Test away! :) If you have any suggestions, do tell :)

https://github.com/netgen/TagsBundle/commit/d7515266ac5cbd7904bf11dc46bf03cbe811f53b

[2015-09-10 10:02] htollefsen commented on #25
Great! Hopefully I'll find time to check it out within next week

[2015-09-10 10:10] emodric commented on #25
Great :)

Also implemented (https://github.com/netgen/TagsBundle/commit/d506406a57150453c2b5f85fc0dff5e009fc710b) are Solr criterion visitors for `TagId` and `TagKeyword` criteria, so you should be able to use those too, in addition to `Field` criterion.

[2015-09-10 10:12] htollefsen commented on #25
Awesome!

[2015-12-03 09:54] nmeirik opened #33 "eZ Platform support"
Is this compatible with the upcoming release of eZ Platform? When I install it I get the error

`PHP Fatal error:  Interface 'eZ\Bundle\EzPublishLegacyBundle\LegacyBundles\LegacyBundleInterface' not found in /var/www/vendor/netgen/tagsbundle/Netgen/TagsBundle/NetgenTagsBundle.php on line 9`

[2015-12-03 09:55] emodric commented on #33
Yes it is, but still requires legacy. I will make sure that it's optional though.

Thanks for reporting it!

[2015-12-03 13:29] #33 closed

[2015-12-03 13:31] emodric commented on #33
@nmeirik I've removed the interface in question from bundle class as well as hard requirement for `ezsystems/eztags-ls` in `composer.json`. Please note that only 2.1 (`dev-master` for now) will have this removed. 2.0.x versions will remain compatible with eZ 5.

[2016-01-11 16:54] DeClemo opened #34 "Parent definition does not exist"
Hi Guys,

I've just upgraded to eZ 5.4.5 and I'm getting the below error when trying to load the page now. I'm not sure why it has cropped up now as I can see the configuration in the yml files in the core eZ Publish settings folder but for some reason it doesn't seem to exist.

[code]

Could you give me an idea of what to look at to get this fixed?

Thanks,
Dan

[2016-01-11 21:10] htollefsen commented on #34
@DeClemo If I'm not mistaken `ezpublish.search.legacy.gateway.criterion_handler.base` has been replaced with `ezpublish.search.legacy.gateway.criterion_handler.content` and `ezpublish.search.legacy.gateway.criterion_handler.location`.

[2016-01-11 21:12] emodric commented on #34
@htollefsen is right. I'm not sure in which Enterprise version this occured though.

@DeClemo Which version of Tags bundle are you using? Did you try upgrading to latest 1.x (I presume you're still on 1.x)?

[2016-01-12 09:12] DeClemo commented on #34
@htollefsen according to changes-5.4.md ezpublish.search.legacy.gateway.criterion_handler.content is the tag but ezpublish.search.legacy.gateway.criterion_handler.base is still defined in criterion_handlers_common.yml

@emodric I am running latest 1.x version of the tags bundle.

I have managed to get things going now by copying the service definition from criterion_handlers_common.yml into my sit

[2016-01-12 09:15] emodric commented on #34
@DeClemo I'm glad you fixed it. If you found out why it wasn't working in the first place, let me know. I'm not using Enterprise so it's hard for me to check.

[2016-01-12 12:44] DeClemo commented on #34
@emodric Will do! :-)

[2016-01-13 13:47] emodric commented on #25
@htollefsen Did you test indexing of `eztags` field type? I will release 2.1.0 today and if something is broken, the fix will need to be in a patch release :)

[2016-01-21 13:31] nmeirik opened #35 "Question: Tag management in v. 2.1"
I'm not totally clear on what to expect from v. 2.1 which requires eZ Platform 1.0.

Should one be able to edit which tags are associated with an object from the new PlatformUI in this version, or does it simply provide services for extracting existing tag relations which can still only be managed in the legacy admin UI?

[2016-01-21 14:50] emodric commented on #35
Hi @nmeirik.

2.1 still needs legacy to edit the tags through the admin interface, yes. Platform UI support is planned of course. ( and PRs are accepted too :) )

[2016-01-21 14:50] nmeirik commented on #35
Thanks for clearing that up!

[2016-01-21 14:50] #35 closed

[2016-02-03 22:01] jxn commented on #25
@emodric I've tested this today successfully.  I believe you should be able to close this ticket.

[2016-02-03 22:35] emodric commented on #25
@jxn Thanks! Closing!

[2016-02-03 22:35] #25 closed

[2016-02-23 22:53] nicogommen commented on #34
Hi,
I've just upgraded to eZ 5.4.5 (from 5.4.4) and I got the same error as @DeClemo.
`[Symfony\Component\DependencyInjection\Exception\RuntimeException]
  The parent definition "ezpublish.search.legacy.gateway.criterion_handler.base" defined for definition "ezpublish.search.legacy.gateway.criterion_handler.common.tag_id" does not exist.`

I did tried to copy the service definition from criterion_

[2016-02-25 09:56] emodric commented on #34
Hi @nicogommen,

Concerting the first issue, I really can't see why it would happen. Moreover, when I install 5.4.5, everything works fine. I can't see anything wrong it, really. Legacy search engine bundle is active (maybe this is the issue with you?), and it loads the file where `ezpublish.search.legacy.gateway.criterion_handler.base` is defined so it should just work, and by default it does :)

[2016-04-07 13:57] whitefire opened #37 "TagKeyword-criterion doesn't work with solr if the query-clause contains multiple words."

[2016-04-07 14:21] emodric commented on #37
Thanks, I'll look into it!

For reference, issue seems to arise from (obviously wrong) handling of `Operator::LIKE` in `TagKeyword` visitor: https://github.com/netgen/TagsBundle/blob/master/Core/Search/Solr/Query/Content/CriterionVisitor/Tags/TagKeyword.php#L51-L53

[2016-07-09 01:29] Plopix commented on #34
Yo,
I ran into the same issue.

I remove the eZ Tags service to do a container debug:

[code]

That means some services are not loaded. Then go back to the documentation ;-)

[code]

And now everything is loaded.

[2016-07-09 06:18] emodric commented on #34
@Plopix Thanks for testing! Care to make a pull request to install docs? :)

[2016-07-15 08:56] emodric commented on #34
@DeClemo @htollefsen @nicogommen @Plopix I've added a note in install instructions about need to activate legacy search engine bundle. https://github.com/netgen/TagsBundle/commit/c6780dff4cec12a46bbb7d85ffb8c0a97d14d8e4

I've also made sure that in newer versions things don't crash if bundles don't exist: https://github.com/netgen/TagsBundle/commit/114c5df8ae3a1986eaf943de4923779ed4a893e4

[2016-07-15 08:57] emodric commented on #34
Thanks everyone for reports, I know it took a while to find the real cause :+1:

[2016-07-15 08:57] #34 closed

[2016-07-22 18:21] alexmartinsbr opened #40 "Input not showing in eZ Platform with eZ Studio 1.4"
We installed this bundle into our eZ Platform with eZ Studio 1.4 but the input didn't render.
Seams like YUI module is calling JQuery functions, but DOM elements are not there yet.

Can you guys give us some tips?

[2016-07-22 18:24] emodric commented on #40
Hi!

Sorry, Platform UI interface is not ready yet. The files are there, yes, but not functional at the moment.

[2016-07-22 18:27] emodric commented on #40
You will need to use legacy for the time being if you want admin UI for tags.

I realize this is suboptimal, but currently we don't have the manpower to implement this since it's quite a big and non trivial task.

[2016-10-18 15:13] gggeek opened #41 "TagsBundle 2.0 is not compatible with eZPublish 2014.11"
The composer.json of the Tags Bundle makes you think that it is compatible, but when you try to use, you get the following error:

```The parent definition "ezpublish.search.legacy.gateway.criterion_handler.base" defined for definition "ezpublish.search.legacy.gateway.criterion_handler.common.tag_id" does not exist```

That parent service indeed seems to be present in 5.4, but not in 2014.11...

[2016-10-18 15:26] emodric commented on #41
Hi @gggeek !

Are you sure about this? I'm running latest version of the bundle with Netgen variant of 2014.11 without any issues.

It's not the real 2014.11, sure, but Netgen variant doesn't have any breaking changes so it should not matter.

[2016-10-18 15:38] gggeek commented on #41
Well that service in 5.4 is defined in ...Core/settings/search_engines/legacy/criterion_handlers_common.yml

That file is definitely not there in 2014.11

It might be possible that just adding a definition for the service will do the trick - but if so, it has to be documented

[2016-10-18 15:49] emodric commented on #41
Okay about the file, but is it defined somewhere else in the kernel?

As I said, I'm running it on Netgen variant of 2014.11 and it's working fine.

Did you try the latest 2.0.x available?

[2016-10-18 16:22] gggeek commented on #41
I grepped thru the kernel, and could not find it anywhere else... Maybe you have added the solr-search-bundle to that project?

[2016-10-19 07:41] emodric commented on #41
This is the code that decides which search handlers will the bundle load, ones for 2014.11, or ones for 5.4 and later: https://github.com/netgen/TagsBundle/blob/2.0-release/DependencyInjection/NetgenTagsExtension.php#L35-L39

Can you check if you have that parameter defined in your container and why not if it's not present?

[2016-10-19 21:08] gggeek commented on #41
Indeed that parameter does exist in that file...
Either that file is not loaded at the time that the Extension class executes, or there is some other snag somewhere. I will try to step thru execution to find the root cause

[2016-10-19 21:11] gggeek commented on #41
Btw, here is the log of the filing build. It's all automated, and starts off with installing ezcommunity 2014.11 and tagsbundle 2.0.11. Very little customizations of the environment...

https://travis-ci.org/kaliop-uk/ezmigrationbundle/jobs/168624059

[2016-10-19 21:17] gggeek commented on #41
ps: at first sight the legacy kernel storage engine config is loaded via the ezp core bundle, which is just an Sf bundle like the others. In my ezpublishkernel.php I load the tagsBundle as 2nd bundle - before the ezp kernel. Maybe I should move its loading to last...

[2016-10-20 08:45] emodric commented on #41
@gggeek Any news? Did you manage to get it working?

[2016-10-20 08:53] gggeek commented on #41
Yes! :-) https://travis-ci.org/kaliop-uk/ezmigrationbundle/jobs/169059166

So I lower this ticket to 'documentation improvements' :-)

[2016-10-20 09:06] emodric commented on #41
Great! Care to make a PR with a note in docs for your fix? :)

[2016-10-22 14:46] gggeek commented on #41
https://github.com/netgen/TagsBundle/pull/42

[2016-10-22 23:58] gggeek commented on #41
fixed typo

[2016-10-23 08:14] #41 closed

[2016-11-05 14:37] longnd opened #43 "Get Contents by Muliple tags"
What I am trying to do is creating a function to select multiple tags and filter contains by those tags with pagination.
but it looks like there is no way to get contents my multiple tags

I checked the TagViewController
https://github.com/netgen/TagsBundle/blob/2.0-release/Controller/TagViewController.php#L46
There is a function to render contents by a particular tag with pagination
**viewTag()**

[2016-11-05 15:05] emodric commented on #43
Hi @longnd !

You can use `TagId` criterion included in the bundle (https://github.com/netgen/TagsBundle/blob/2.0-release/API/Repository/Values/Content/Query/Criterion/TagId.php) to fetch the content tagged with multiple tags via eZ Publish search service.

[2016-12-06 14:03] phibo23 opened #44 "Criterion\TagId does not support operators"
As far as I understand, both TagId and TagKeyword criteria should support support ez operators EQ and IN. This works fine for TagKeyword but if I try the same with TagId
[code]
I get an InvalidArgumentExeption with the message
[code]

looking into your tests I found a working syntax without operator https://github.com/netgen/TagsBundle/blob/master/Tests/Core/Search/Solr/Query/Content/CriterionVisi

[2016-12-06 18:46] emodric commented on #44
Hi!

Specification only signals to the implementations of the search engine what it supports. It doesn't mean that you need to transfer the operator in the criterion. What you pass to the criterion depends purely on the criterion constructor.

`TagId` criterion internally transfers the operator automatically, based on the input, I believe.

[2016-12-07 08:16] emodric commented on #44
On further inspection, you can also use `new TagId(array(1, 2, 3))` to get the content having any of those tag IDs. The difference  wtih `TagKeyword` comes from `TagKeyword` having an additional operator, so we needed the operator explicitly.

Unfortunatelly, now it's probably too late to change the signature of the criterion constructor as it would be a pretty big breaking change, even for the ne

[2016-12-07 10:54] phibo23 commented on #44
ok, as I said, I already found the working syntax. But I still find it strange to have different constructors for criteria which are meant to be used more or less in the same way. ;)

[2016-12-07 11:02] emodric commented on #44
Yes, I know, but that is the result of those criterions not being developed at the same time. At first, there was only `TagId` criterion which was designed after `LocationId` criterion from eZ kernel, which works in the same way, and `TagKeyword` criterion was introduced at a later time when it was already too late for changing things.

[2016-12-08 13:40] #44 closed

[2016-12-29 03:57] #43 closed

[2017-01-16 20:03] wizhippo opened #46 "Add the abbility to add a translation via ui"
Translations are visible but no way to add additional translations via the ui.

![image](https://cloud.githubusercontent.com/assets/1456102/21996767/c8feba24-dbf9-11e6-89d9-8e2defb47bba.png)

[2017-01-16 20:25] emodric commented on #46
Note to self: Currently, new translations can be added by editing the tag, but only if the default siteaccess is configured with all translations that we want to use.

We need to make the list of used languages configurable to be based on language service instead of siteaccess languages.

[2017-01-16 21:33] wizhippo commented on #46
@emodric I have tried this with configured languages in the default site access.  When creating a tag the options of what language to use displays with all the available languages.  After creating the tag I cannot add a new translation to the existing tag in another language.  The is no add translation nor during the edit process does it ask or allow to

https://youtu.be/OnyGDtq9u8A

[2017-01-17 05:08] wizhippo commented on #46
Can't believe I missed the giant blue "Edit Tag"button.  Clicking this bring up the option to select the language.  Guess I was just expecting this to be under the translations tab.

[2017-01-17 05:08] #46 closed

[2017-01-18 10:14] volarname commented on #27
any progress on this?

[2017-01-18 10:17] emodric commented on #46
@wizhippo I'm not against reorganizing the interface to be more clear :)

Current implementation is, for the most part, copy of legacy eZ Tags admin which can ofcourse be improved.

[2017-01-18 10:19] emodric commented on #27
@volarname It stalled a bit, yes, but this will need to be implemented soon in some form or the other to facilitate autocomplete in new field edit interface for Platform UI.

[2017-01-27 12:00] emodric commented on #37
Fixed in 0fc3360630abf56e1610a9916377b7027de85fd0, however, only prefix search is possible. The following criteria:

[code]

will return all content which is tagged with a tag which keywords starts with "web de".

[2017-01-27 12:00] #37 closed

[2017-02-13 12:57] emodric commented on #40
Implemented in master branch and version 3.0, soon to be released :)

[2017-02-13 12:58] #40 closed

[2017-02-13 12:58] emodric commented on #27
Implemented in master branch and version 3.0, soon to be released :)

[2017-02-13 12:58] #27 closed

[2017-02-21 13:25] supasteev0 opened #51 "NotFoundException when using /tags/view with a synonym"
Trying to view all content related to a synonym via the /tags/view route, I get a NotFoundException.

It seems the issue may come from the getFullTagDataByKeywordAndParentId method in vendor/netgen/tagsbundle/Netgen/TagsBundle/Core/Persistence/Legacy/Tags/Gateway/DoctrineDatabase.php.

Indeed, in the eztags database table, synonym has a value in main-tag-id field, corresponding to its main tag. Bu

[2017-02-23 10:22] emodric commented on #51
Fixed in [`2.2.4`](https://github.com/netgen/TagsBundle/releases/tag/2.2.4)

Thanks @supasteev0 !

[2017-02-27 10:03] #51 closed

[2017-03-03 05:49] brendan-pike opened #52 "Long tag name handling"
In the tags/admin/ interface long tag names extend beyond the left column.  On one site I use this for creating content filters on certain government standards. The longest for example is "2.4 Understand and respect Aboriginal and Torres Strait Islander people to promote reconciliation between Indigenous and non-Indigenous Australians" which is a couple levels down.  This makes the line around 100

[2017-03-03 09:40] emodric commented on #52
Hey @brendan-pike!

Thanks for the report, @goranNetgen is on it. We decided it would be best to both wrap the long names as well as allow the user to resize the tree column.

[2017-03-03 13:09] emodric commented on #52
Fixed in c90528340127cd6f14168336d354f2f7d6a0efce

[2017-03-03 13:09] #52 closed

[2017-03-13 22:06] skonrad opened #54 "Error when in edit-view"
Hi everyone,

tonight i was testing you bundle with my project.

While the system seemed fine after after adding db, routing and the two bundles (`EzCoreExtraBundle` and `NetgenTagsBundle`). I can add the field-type to a type. (That's working with the current platform-release `1.8.0`)

Maybe you guys got a clue if i'm doing something wrong.

Thanks in advance.

# Errors

## JavaScript

When i sele

[2017-03-13 22:44] emodric commented on #54
Hi @skonrad !

About the first issue (error in JavaScript console), maybe I should've mentioned in the docs that no edit views other than `Default` are supported yet in Platform UI field edit interface. As for adding tags to the list in `Default` edit view, there's an autocomplete input field that you can use to search for tags and add them to the field.

As for PHP/Twig error, it could be due to

[2017-03-14 18:44] skonrad commented on #54
Hi @emodric

thanks for the quick response.

Regarding the JS-Error it makes sence that it doesn't work if it's not implemented yet. :)
For the `Default`-Version I just checked and it works. My co-workers say it is intuitive (so it's probably my fault for not recognizing the functionality at first). The hint for the suggest really helped me though.

In respect of the twig/php-error it seems like i

[2017-03-14 18:44] #54 closed

[2017-03-15 08:45] emodric commented on #54
@skonrad I've added a not about `Default` edit view being the only one: https://github.com/netgen/TagsBundle/commit/92fbd4c393c9deaee2a75f8fa85adcd808b5ed4e

[2017-04-28 19:17] Mrkisha opened #55 "Tags for site limited by siteaccess"
Is it possible to have tags that are siteaccess aware or at least language aware?

[2017-04-28 19:24] emodric commented on #55
Hi!

I'm not sure what you mean exactly. Tags can have as many translations as you wish. Is that what you're looking for?

[2017-04-30 10:23] Mrkisha commented on #55
What I mean is, I have multiaccess website. If I create a tag from domain1 in language1, I dont want to see it in search as you type drop-down in domain2 with language2. Does it make sense?

[2017-05-01 18:50] emodric commented on #55
Well, that depends on your siteaccess settings and their languages.

Tags Bundle follows the languages configuration specified there, just as content objects.

[2017-05-02 08:00] Mrkisha commented on #55
Language1 cant be used in domain2. Yet I get to see all the tags (no matter what the language or siteaccess is). Am I missing something with permissions?

[2017-05-02 14:18] emodric commented on #55
Can you paste here your usage example which returns tags that are not supposed to be used?

[2017-05-03 07:06] Mrkisha commented on #55
I have tag field in Article content type.

There are 2 siteaccesses, `siteaccess1` with `language1` and `siteaccess2` with `language2`.
If I access back-end of eZ Platform from `siteaccess1` and create one tag with value `testtag` for `language1`.
Then I access back-end of the `siteaccess2` and create Article content type and go to tag field, once I start typing `tes`, I get tag from `siteaccess1`

[2017-05-03 07:28] Mrkisha opened #56 "Tag search service not siteaccess aware"
This might be related to previous issue #55 .

Here is the scenario:
[code]
Basically this is the `PHP` code I'm using:
[code]

Search **is** language aware but **not** siteaccess aware.

[2017-05-03 08:43] emodric commented on #55
Are your tags always available?

If tags are always available, they will show up in the list with their main language, even if they don't have the required translation.

In the below screenshot, "Use the main language if there is no prioritized translation" should be UNCHECKED for your tags.

![image](https://cloud.githubusercontent.com/assets/362286/25653456/3907aafa-2fed-11e7-9499-070807e89c01.p

[2017-05-03 09:44] Mrkisha commented on #55
Already tried it. It does not work.
I still get in the dropdown all the tags that match, despite the language.

[2017-05-03 09:49] Mrkisha commented on #56
The workaround I have just implemented goes like this:

[code]

this way I get content that is just from current `siteaccess` and the respective language.

[2017-05-08 10:09] emodric commented on #55
Then this is indeed a bug :)

Search should not return tags which are not always available.

[2017-05-08 10:56] emodric commented on #55
@Mrkisha This should be fixed with the following patch: https://github.com/netgen/TagsBundle/commit/9ba7f2bf601204a52b16cefcb5ba38fd04fc3bb2

Can you test and report back if it is working for you, so I can tag it?

[2017-05-08 12:11] Mrkisha commented on #55
@emodric  on it.

[2017-05-09 06:50] Mrkisha commented on #55
@emodric I'm still getting tags from other languages.

[2017-05-09 07:56] emodric commented on #55
@Mrkisha Are you sure? With the patch I commited, it is working for me as expected.

For example:

My siteaccess where Platform UI is running is configured to show English and Croatian.
I added a tag in German.
I disabled "Always available" flag on the tag
Tag is not shown in the dropdown when I search for it in the field.
Once I enable "Always available" flag, tag is then shown when searching for

[2017-05-09 12:19] Mrkisha commented on #55
The previous try was with 3.0.2 tag.
However I've tried with 9ba7f2b patch and now I dont see Tags menu item, while in System Info says that Tags bundle is installed.
![image](https://cloud.githubusercontent.com/assets/1561303/25850402/6a5f6cbc-34c2-11e7-9898-f645d5d0e2d3.png)

[2017-05-09 12:27] emodric commented on #55
Hi! https://github.com/netgen/TagsBundle/commit/9ba7f2bf601204a52b16cefcb5ba38fd04fc3bb2 is actually in `2.2-release` branch, which was merged into `3.0-release`, so you should actually use https://github.com/netgen/TagsBundle/commit/52490d817a31e9baad133d98085445664537db5f

[2017-05-09 13:21] Mrkisha commented on #55
Ok, now works!

I would be great if it was siteaware as well. As I have two different siteaccess with some language.

[2017-05-09 13:34] emodric commented on #55
@Mrkisha Great, thanks for testing! So I can tag `3.0.3` with the fix?

About siteaccess awareness, yeah, I know it would be nice. But, since there's no official site API yet for eZ Platform, I'd rather not reinvent the wheel, so maybe a future release will have it. I'll keep #56 open to remind me :)

I hope that is okay :)

[2017-05-09 13:37] Mrkisha commented on #55
Go ahead and merge.

[2017-05-09 14:04] emodric commented on #55
Fixed in versions 2.2.5 and 3.0.3

[2017-05-09 14:04] #55 closed

[2017-05-09 14:17] emodric commented on #56
This will have to wait until there's an official eZ site API as to not reinvent the wheel, but rather use/mimic official APIs.

[2017-06-12 16:46] wizhippo opened #58 "Should allow ez-core-extra-bundle 2.0"

[2017-06-12 16:54] emodric commented on #58
:+1: :)

Wanna do a PR on 3.0 branch?

[2017-06-12 17:59] emodric commented on #58
Closed in #59

[2017-06-12 17:59] #58 closed

[2017-08-11 20:03] wizhippo opened #60 "Unable to add muli-word tag"
Cannot create tags such as "Beach & Sun"

Only Beach is added

[2017-08-16 09:41] emodric commented on #60
Thanks @wizhippo! I'll take a look at it soon. Do you think it is related to using `&` in the tag?

[2017-08-16 12:53] wizhippo commented on #60
I can confirm it is the `&`.  Spaces work fine.

[2017-08-16 12:56] emodric commented on #60
Alright, thanks, that will surely help :)

[2017-08-18 15:01] emodric commented on #60
@wizhippo Can you give me a little bit more details? How and where do you add tags? Do you have a piece of code that reproduces the issue?

I can't reproduce the issue on version 3.0.4, neither through tags service in PHP nor through admin interface.

[2017-08-18 16:17] wizhippo commented on #60
Using the admin interface.  Using 3.0.4.

From the tags dashboard.

Click "New Tag+"
Click "Continue"
Under keyword enter "Fun & Sun"
Click "Save"

The created tag now shows "Fun"  instead of "Fun & Sun"

[2017-08-18 16:42] emodric commented on #60
Okay, I was testing it on standalone version of admin interface, not the one integrated into eZ Platform UI.

In eZ Platform UI it doesn't work. I'll try to find it, thanks!

[2017-08-18 16:48] ilukac commented on #60
Hint:  maybe the "&" sign is the problem ;)

On Fri, Aug 18, 2017 at 6:42 PM, Edi Modrić <notifications@github.com>
wrote:

--
Ivo Lukač

Netgen d.o.o. - Savska 182, 10000 Zagreb, Croatia
web: http://www.netgenlabs.com, tel: +385 1 3879722, mob: +385 99 5251566
---------------------------------------------------------
everyday tweets: http://twitter.com/ilukac
company blog: http://www.netgenlabs.c

[2017-08-18 16:50] emodric commented on #60
Well, that's obvious :) But I would rather say it's something in Platform UI :)

[2017-08-18 16:53] ilukac commented on #60
Ah, didn't see the start of the thread. So its "&" + PlatformUI, a lovely combination :)

[2017-08-19 11:06] emodric commented on #60
I've fixed this in https://github.com/netgen/TagsBundle/commit/bd9a3a9aeb5a6cd01c6c765b9c724244c9434b66

@wizhippo Would you mind testing, and if everyting is okay, I'll tag `3.0.5` ?

[2017-08-21 13:03] wizhippo commented on #60
@emodric that fixed it thank you.

[2017-08-21 13:16] #60 closed

[2017-11-10 15:12] SylvainGuittard opened #65 "Autocompletion is not working (eZ Platform v1.12)"
eZ Platform ticket: https://jira.ez.no/browse/DEMO-130

Errors:
[code]

Logs:
[code]

[2017-11-10 15:49] emodric commented on #65
Fixed in 3.1.2 https://github.com/netgen/TagsBundle/releases/tag/3.1.2

Thanks :)

[2017-11-10 15:49] #65 closed

[2017-12-07 12:49] sandrinr opened #67 "PHP 7.1 requirement is inconvenient ;-)"
We are running the TagsBundle 3.1.4 with PHP 7.0 without issues. Our guess is that "dropping support for PHP 7.0" was done out of principle. However, since for example Ubuntu 16.04 is shipping PHP 7.0 by default and will be supported (including PHP) for a long time, it is inconvenient to have to stick to the TagsBundle 3.0.x for the at the moment.

Any chance for that requirement to be relaxed aga

[2017-12-14 19:53] emodric commented on #67
Hi,

you should not use PHP 7.0 any more since recently active support ended for it. Ubuntu shipping and maintaining PHP 7.0 for the next couple of years is an antipattern, rather than a positive thing: https://paragonie.com/blog/2017/12/2018-guide-building-secure-php-software#php-versions

Having said that, I can relax the restriction in 3.1 if you find that helpful, but not for any further versi

[2017-12-15 12:08] sandrinr commented on #67
Hi @emodric , thank you for your response.

Trying to educate your users through means of composer requirement specifications is not something we would have opted for. We specify our requirements strictly out of the technical needs of the packages in question and try to keep them as relaxed as possible. We are under the impression that this is common practice in the Symfony world. However, this is

[2017-12-15 12:08] #67 closed

[2017-12-15 12:23] emodric commented on #67
As I said, I am willing to relax the restriction to PHP 7.0 for Tags Bundle 3.1, but I am definitely not planning to support PHP 7.0 later on.

The reason why I dropped it now is to possibly have easier migration later on when I drop support for PHP 5 and add scalar type hints and so on. Going from PHP 5 to PHP 7 is fine for major version, but requiring bump from PHP 7.0 to PHP 7.1 might be seen a

[2017-12-22 13:03] konradoboza opened #69 "Add new tag button visibility issue"
Hello!

In eZ Platform 1.12 there is a problem with adding tags to the content (it appears on Safari, Chrome and Firefox).

**Steps to reproduce**
1. Open new incognito tab.
2. Log in to the eZ back office using PlatformUI.
3. Create new content (e.g. an article) or select existing one.
4. Go to the tag sections. "Add new" button is not visible.

![no_button](https://user-images.githubusercontent.

[2017-12-22 13:06] emodric commented on #69
@konradoboza Thanks for reporting it!

Are you use your users have the `tags/add` policy? Which version of the bundle are you using?

[2017-12-22 13:11] konradoboza commented on #69
@emodric thank you for quick reply!

I reproduced it on Administrator user, so I had all permissions. Just to be sure, I added also `tags/add` policy. I'm using version `3.1.4` of `netgen/tagsbundle`.

[2017-12-22 13:14] emodric commented on #69
Thanks! I'll try to reproduce it locally!

[2017-12-22 13:40] emodric commented on #69
I've reproduced the issue. The issue comes from the fact that tags bundle config, including "has add access" flag, is fetched from config provider: https://github.com/netgen/TagsBundle/blob/master/bundle/PlatformUI/ConfigProvider.php#L51, which is obviously loaded only once, when login page is displayed, and is not reloaded when the user is logged in.

Truth to be told, I'm not really sure how to

[2018-01-16 08:27] konradoboza commented on #69
PR with suggested workaround: https://github.com/netgen/TagsBundle/pull/71

[2018-01-17 16:19] emodric commented on #69
Fixed by #71

[2018-01-17 16:19] #69 closed

[2018-02-06 11:04] solene2a commented on #46
Hello
I installed the tagsbundle 3.0.8 and I can't add translations on my tags.
I don't understand what I have to do to activate the others languages in the admin UI.
Can you help me please ?
Thanks

[2018-02-06 11:35] emodric commented on #46
@solene2a Your siteaccess needs to have multiple languages configured in its language list. Once this is done, you can click on the blue "Edit tag" button, and then you will get the list of already existing translations as well as the list of translations to add.

Does that answer your question?

[2018-02-06 13:12] solene2a commented on #46
Thank you, but can you tell me where do I have to put the languages list, is it in the ezplaform.yml, in ezpublish -> system parts ?
I have something like
`
ezpublish:

    # Siteaccess configuration, with one siteaccess per default
    siteaccess:
        list: [site, eng, it]
        groups:
            site_group: [site, eng, it]
        default_siteaccess: site
        match:
            URIEl

[2018-02-06 13:32] emodric commented on #46
@solene2a Good to hear that :)

[2018-02-09 08:58] konradoboza opened #72 "Tags input disappears after changing language while creating content"
Good morning!

Currently, a new issue has been observed: while creating new content, changing its language causes disappearing of tags input. I reproduced this issue on eZ Platform 1.13 and tagsbundle v3.1.4.

![disappearing_tags_input](https://user-images.githubusercontent.com/34310128/36019473-b4ee7138-0d7f-11e8-8c9d-8e731e116fd1.png)

Please let me know if you could fix this.

Best regards

[2018-02-12 16:34] emodric commented on #72
Hi @konradoboza

Thanks, I will look into this soon, but I don't know if I can fix this, since YUI is not my strongest suit. I would appreciate if you could take a look at it too if you know where and how to fix it :)

[2018-03-01 10:03] solene2a commented on #46
Hello it's me again ;-)
I have another problem with the translations : I can't put all the languages availables in my default siteaccess, because in my website if there is a missing translation, the content must not be displayed.
Is it possible to think about another way to get the language list ? To add another parameter elsewhere for example... It will be great.
Thank you

[2018-03-01 10:15] emodric commented on #46
I'm afraid no, not really. This would complicate configuration and maintenance of site configuration in regards to languages and tags and I think it would bring more problems than benefit.

Besides that, since the new eZ Platform Admin UI is running within its own siteaccess, it is expected that languages configuration is automatically propagated to Netgen Tags.

I presume that the issue comes fro

[2018-03-01 10:39] solene2a commented on #46
Thank for your answer.
We are going to install the new eZPlatform Admin UI, I think it will solve our problems. I will let you know !
Regards

[2018-03-08 14:27] konradoboza commented on #72
Hi @emodric,

I looked into this issue and found out, that there is a problem with rendering `templates.skeleton` template. After changing the language of the content it is somehow removed, but I couldn't reach the code which is responsible for that. Is it any possibility, that this is also used somewhere in the tags admin panel as this skeleton contains html code for autocomplete input? Maybe the

[2018-03-08 14:39] emodric commented on #72
I can say with certainty that it's not used in admin panel, only for the field input. Why it dissapears, I cannot say, but I'll try to debug it!

[2018-03-09 08:44] emodric commented on #72
Hi @konradoboza

I've tried testing the input with changing the language and I'm afraid I cannot reproduce your issue.

When I switch to another language in content edit interface, everything keeps on working as before, no issues whatsoever.

[2018-03-09 08:57] konradoboza commented on #72
I was able to reproduce it every time on a clean installation of eZ Platform v.1.13.0 with TagsBundle v3.1.4. Here are my steps to reproduce:

1. Add new language via admin panel and add it to `ezplatform.yml`
2. Clear cache and reload Platform UI.
3. Install TagsBundle 3.1.4 using instructions from its github page.
4. Add tags field to existing content e.g. "Article".
5. Create a new article.
6.

[2018-03-19 09:19] emodric commented on #72
I reproduced the issue, and it seems that there is something missing somewhere which would reinitialize the interface on language change.

Simply calling `jQuery('#eztagsXYZ').EzTags();` from the console (XYZ is the field def ID of the tags field) makes the interface reappear, which indicates that all we need is an initializer method which would execute on language change. I hope you know a place

[2018-03-22 13:08] konradoboza commented on #72
I tried to fix it the way you suggested, but it won't work. When I reinitialize the interface by using `jQuery('#eztags123')` it corrupts the popup for selecting tags from the tree. See screenshot below.

![select_tag_issue](https://user-images.githubusercontent.com/34310128/37771502-1072bd02-2dd8-11e8-8f18-e976ae6b3816.png)

Maybe re-rendering whole Tags template and re-attach all events could be

[2018-04-03 12:28] konradoboza commented on #72
@emodric do you maybe have any feedback regarding this issue?

[2018-04-03 12:55] emodric commented on #72
Unfortunatelly not. I tried debugging it further, but it goes beyond by YUI/JavaScript knowledge, so if you could try and fix it by yourself, it would be very much appreciated.

[2018-06-04 14:21] wizhippo opened #73 "Follow ez platform 7.2 db upgrade example"
Not sure if we should document this but some users while upgrading to ez platform 7.2 when it comes out may get some errors while converting to utf8mb4 as the ez platform upgrade script does not update the indexes for eztags.

Perhaps tags bundle should provide an upgrade script too along the lines of https://github.com/ezsystems/ezpublish-kernel/blob/master/data/update/mysql/dbupdate-7.1.0-to-7.2

[2018-06-04 14:42] emodric commented on #73
That's a good idea, yes. But, what indexes qualify to have their length shortened to 191? Those that can have data larger than 191? In that case, only two indexes qualify: `idx_eztags_keyword` and `idx_eztags_keyword_id`. What do you think?

[2018-06-04 14:55] wizhippo commented on #73
Looks like the `local` on the primary key of `eztags_keyword` needs to be addressed too.

[code]

[2018-06-04 15:05] emodric commented on #73
@andrerom @alongosz Do you think this might be part of eZ Platform upgrade instructions, given TagsBundle is included in eZ Platform installs?

[2018-06-04 21:54] andrerom commented on #73
It could be part of upgrade docs, yes. but as it is only included in demo it should distinguish what part is relevant for TagsBundle. /cc @SylvainGuittard

[2018-06-11 16:27] gggeek opened #75 "eZPublish SPI cache not cleared when renaming a tag"
Tested when editing tags via eztags extension, but it probably happens when editing tags via tagbundle as well (and even if not, the fix is probably better done in tagsbundle than elsewhere anyway):

- have Article template display the value of a Tag field
- add tag with value XXX to an Article
- access said Article full view
- in Legacy Admin, edit the tag, rename it to XXY
- restart Varnish, in

[2018-06-15 06:51] ldargent opened #76 "Fatal error on /tags/id/[tag_id]"
eZDemoBundle is used for default configuration pagelayout.
Of course this bundle is not into composer dependencies.

This generate a twig fatal error :

`There are no registered paths for namespace "eZDemo".`

https://github.com/netgen/TagsBundle/blob/53f8d681fa5375a0760fb7f6c7f8db1ec8fb8675/bundle/Resources/config/default_settings.yml#L25

You should change it to avoid this error after clean inst

[2018-06-15 08:47] emodric commented on #76
Hi @ldargent

Do you have a suggestion on a better default value? I used that one specifically because it will force users to actually change the default when they encounter the error.

[2018-06-15 09:05] ldargent commented on #76
Hi @emodric,

Ok I understand.

Maybe add a basic pagelayout (to avoid error) into the bundle and add documentation for "how to override pagelayout" or something like this ?

[2018-06-15 09:48] emodric commented on #76
Sure, why not. Wanna take a shot at it yourself? :)

[2018-06-20 07:29] emodric commented on #75
@andrerom What do you think? What would be the best way to approach this? Are slots the right place to have SPI caches cleared?

[2018-06-20 07:49] andrerom commented on #75
I'm not familiar with what was done in terms of caching here, or if this is v2 or v1 issue.

[2018-06-20 07:52] andrerom commented on #73
Unsure, but until fully bundled with clean install making this a PM issue, maybe document it here for now.

[2018-06-20 08:29] gggeek commented on #75
v1

[2018-06-20 09:09] andrerom commented on #75
Ah, but this is editing in legacy, so more of an issue with legacy bridge to handle then.
But I don't think eztags emits any events for legacy bridge to listen to in order to clear the cache.

This is the new cache introduced recently here right? It's possible but would need some work across all repos, across misc versions.

Workaround is to downgrade to TagsBundle 3.2 or lower.

[2018-06-20 09:45] gggeek commented on #75
Well, I am not sure if it is "only" legacy related.

The problem does manifest itself when editing in legacy, true.
But the SPI cache is definitely in the eZ5 "layer".

What I have done in project code (waiting to have some time to make a PR out of it) is to
1. have tagsBundle activate its signals upon the ezpevents being fired by eztags extension
2. set up a Slot for the tagsBundle signal which c

[2018-06-20 19:07] wizhippo opened #77 "Admin ui ezdesign changes."
Not sure if related to the switch to ezdesign in admin ui but I now get

Cannot find 'eztags_field' template block.

If I add the field templates to the admin group it works again without issue.

[2018-06-20 20:00] emodric commented on #77
Does it work if you disable standard design bundle?

Ref: https://github.com/ezsystems/ezplatform-standard-design/pull/2#discussion_r190838120

[2018-06-20 20:09] wizhippo commented on #77
It does work if standard design bundle is disabled

[2018-06-20 20:16] emodric commented on #77
I presume this is without adding the template to `admin` group?

Truth to be told, I'm not sure how to proceed here. The field template is in the `default` group, it should be enough for the fallback to work, right? I don't know what happens behind the scenes now that the standard bundle goes and creates a mess out of the templates entirely, so some kind of clear docs is definitelly needed, before

[2018-06-20 20:33] emodric commented on #77
Yes, I think it has the same effect as disabling the bundle itself. I still don't feel that it is a proper fix, however.

[2018-06-20 20:34] wizhippo commented on #77
Is there a reason the netgen templates are added with a priority of 0?  I just changed them to a priority of 99 and it's working?

[2018-06-20 20:46] emodric commented on #77
To answer, priority 0 is to enable 3rd party bundle to easier override the template by specifying their own priority.

[2018-07-18 13:57] flutchman commented on #77
Hello guys.

Just tried to update one project and got the same error as @wizhippo mentionned. Would there is by any chance a new fix that appeared other than commenting "ez_platform_standard_design" ?

Thank you in advance :)

[2018-07-18 14:04] emodric commented on #77
@flutchman I don't know how to fix this. The templates need to be in `default` scope to allow using them in every area, and not to limit them to admin ui only.

I think this is something that needs to be fixed / documented on eZ side.

[2018-07-18 14:07] andrerom commented on #77
@alongosz / @damianz5 Any takes on what will be needed to avoid this issue from standard design?

[2018-08-21 06:37] pbek commented on #77
Just a little report, I still get this error when viewing tags in a location on the admin page in the current eZ Platform 2.2.

[2018-08-28 17:56] raupie opened #79 "Could not find 'Language'"
When I go to add a 'new tag' I'm getting this error: `Could not find 'Language' with identifier 'ger-DE'`

[2018-08-28 18:13] emodric commented on #79
Hi!

Did you add `ger-DE` to the list of languages for your siteaccess?

[2018-08-28 19:52] raupie commented on #79
My site language code for German was ger-de instead of ger-DE.

That fixed it. Thanks.

[2018-08-28 19:52] #79 closed

[2018-09-06 14:03] raupie opened #80 "Installation Instructions"
I'm getting a ````An exception has been thrown during the rendering of a template ("User does not have access to 'read' 'tags'")```

Would be helpful to have that in the instructions perhaps for the anonymous role.

[2018-09-06 14:53] emodric commented on #80
Sure :) Wanna do a PR? :)

[2018-09-06 15:31] raupie commented on #80
PR submitted :)

#81

[2018-09-06 15:31] #80 closed

[2018-10-12 09:55] alongosz commented on #77
Hello. Sorry for the long delay. I was able to confirm this issue and found root cause of it in the Standard Design package. Reported as [EZP-29724](https://jira.ez.no/browse/EZP-29724), follow it to see the progress on that.
// cc @andrerom

[2018-11-14 07:59] omh opened #86 "Tree view broken?"
First off, thanks for creating and maintaining this great extension!

I'm experiencing a problem with the "tree view" on a fresh copy of eZ Platform 2.3.1 with TagsBundle 3.3.2. Just me? "Default view" and "Standard view" appears to work fine.

Error:
[code]
![screenshot 2018-11-14 at 08 46 54](https://user-images.githubusercontent.com/46762/48467760-2a217780-e7ea-11e8-80b2-0795f43616cb.png)

![sc

[2018-11-14 09:38] emodric commented on #86
Hi. Thanks for the bug report. It is indeed an issue, since tree view is not implemented yet, simply haven't had the time to tackle it yet :/

I might disable the option altogether, to avoid these errors until it is implemented.

[2018-11-14 11:37] omh commented on #86
Thanks for the quick reply. Yes, I guess just removing the option is a good start to avoid confusion :). I'll close this for now.

[2018-11-14 11:37] #86 closed

[2018-11-14 12:16] emodric commented on #86
I've pushed a new `3.3.3` tag which has the option removed.

Thanks once again for the report @omh !

[2018-12-12 10:46] omh opened #87 "Layout issues when editing an object without tag edit permissions"
Hi,

If you try to create a new object with a tag attribute and the current user does not have edit permissions for tags there's some layout issues. Once a tag is added (or you have edit permissions and the add button is visible) everything is good.

![screenshot 2018-12-12 at 11 43 22](https://user-images.githubusercontent.com/46762/49864740-75d43a80-fe03-11e8-9a55-5e7f410fb094.png)

[2018-12-12 11:02] emodric commented on #87
@goranNetgen Can you take a look?

[2018-12-14 00:02] kbohutinski commented on #76
hi, how to override this parameter?
Tnx

[2018-12-14 13:46] emodric commented on #76
@kbohutinski There's a `eztags.default.pagelayout` parameter that you need to set to override pagelayout.

[2018-12-15 22:33] kbohutinski commented on #76
@emodric

I made override template view.html.twig and solved the problem.

In the Resources folder I added the file NetgenTagsBundle/views/tag/view.html.twig to which I wrote my source code.

But the biggest problem is that there is no tutorial on how to use netgen tags bundle or I did not find it.

The eztags.default.pagelayout parameter does not exist in my project when I do the search ?!

[2018-12-19 11:50] emodric commented on #76
@kbohutinski That's one way of overriding :)

Sorry about the wrong parameter name: it's name is `eztags.default.tag_view.pagelayout`.

There is indeed no tutorial yet :fearful: Is there a specific thing you need help with?

[2018-12-19 23:55] kbohutinski commented on #76
Not for now. But instructions are essential for such an important bundle. So if I have a problem I have to wait for you or I have to investigate.

BR

[2018-12-20 16:18] emodric commented on #76
I understand and I'm aware that the docs are lacking for the bundle. I do hope this will improve, though! Any contribution is welcome, too :)

[2019-01-15 11:13] omh commented on #87
Note: this issue will be fixed by PR #90

[2019-01-22 12:50] andrerom commented on #56
@emodric : https://github.com/ezsystems/ezpublish-kernel/tree/master/eZ/Publish/Core/Repository/SiteAccessAware  _(naming wise it's only SALanguageAware atm fyi, but that seems to be what is asked for here)_

[2019-02-01 14:49] amauryvallier commented on #76
Hello!

This issue seems important to me, since when a contributor clicks on a tag in a content on the content/media tree part, he will automatically be redirected to the /tags/view/[tag_name] url and get this error if the eZDemo is not installed.

Could it be possible to simply link to the admin interface of the tag (/tags/admin/tag/[tag_id]) for this display which will at least not break everyth

[2019-02-04 14:08] emodric commented on #76
@amauryvallier How about we use `ezpublish.configResolver.parameter('pagelayout')` ? It will resolve to whatever layout is configured in eZ. This custom config comes from the time where there was no central pagelayout param in eZ. We can deprecate it and switch to using the `pagelayout` param from eZ.

[2019-02-04 14:10] emodric commented on #56
Is it? @Mrkisha in his second example uses `$repo->getSearchService()->findContent()`, so I'm not sure what was asked, to be honest :)

[2019-02-04 15:01] amauryvallier commented on #76
That could already be a better solution than having a brutal error page in the admin interface. The real problem to me is that we have this big error in the admin while using the bundle.

By changing the href on the `Resources/views/eztags_content_field.html.twig` file from `path( tag )` to `path('netgen_tags_admin_tag_show', {'tagId': tag.mainTagId})`, we can avoid the bug altogether in the admin

[2019-02-04 16:05] andrerom opened #92 "Hugh performance issues on heavy Tags usage"
It's been observed by several (partners, eZ folks) that Tags bundle does not perform at all due to excessive cache lookups, the issue is most visible on v2 as in-memory cache on v1 tends to hide it. From profiling @bdunogier could see 4 duplicate lookups for tags due to `fromHash()` being implicitly called several times, and this seems to correspond to what @dspe observed during an audit too.

Fro

[2019-02-04 17:04] andrerom commented on #56
True, he adds subtree filtering to the mix which will probably newer be the case out of the box on findContent(), but rather higher level SiteService for instance that does these things for you.

[2019-02-06 11:43] emodric commented on #76
This should be possible. See `bundle/Resources/config/ezplatform.yml` file. If you wish to test, you can add a specific template here for `admin_group` scope. However, this is not a bulletproof solution. Every new siteaccess (for example, customer specific admin panels) or custom panels that integrate with Tags Bundle, should need to add such a config, but that is a trivial fix, so maybe not a rea

[2019-02-07 08:54] amauryvallier commented on #76
The idea would be to keep the global override as it is (and then we'll have the bug in front, which is the way that was intended so that everyone does its own thing here) and add a specific override for the admin_group that will avoid the BO error. So by defining two different overrides directly there we should be able to make it work!

I'll propose a Pull Request for this as soon as I can.

[2019-02-07 09:06] emodric commented on #76
This can also be solved by using `ezpublish.configResolver.parameter('pagelayout')` as mentioned before. That way, 99% of installations will work out of the box.

[2019-02-07 10:14] amauryvallier commented on #76
I made a pull request integrating the better from both solutions (or so I hope)!

[2019-02-07 17:35] emodric commented on #92
Thanks for the report @andrerom 👍

If you have suggestions on how to improve, I'll gladly merge them!

[2019-02-07 18:27] andrerom commented on #92
Not really as it seems to go deep, but I might be wrong, @bdunogier was the one spotting this so he might know.

[2019-03-05 23:36] nicogommen opened #94 "Select view options"
Hi,

First off, thank you guys for maintaining this bundle!

In the legacy backend, when using the select view, all the tags were available as options, no matter their level in the tags tree.
In the new admin UI (v2.x), we have just the tags from the first level of the tree in the options of the select.
Would it be possible to reproduce the same behavior as in legacy?

Also, is it possible to disa

[2019-03-07 21:16] emodric commented on #94
Hi @nicogommen

Thanks for your report ! :)

I honestly don't remember how it was in eZ Publish Legacy, I will need to check. But in any case, I don't think changing the current select view is a good option, since it could be considered a BC break. What you can do ( and PRs are accepted ;) ), is implement a new view that does what you need.

Good idea. Should this work on the field level (i.e. sel

[2019-03-08 17:04] nicogommen commented on #94
Hi @emodric

Thanks for the quick reply!

We'll think about creating a new view and submit a PR ;-)

Yes, I think this should work on the field level.

[2019-04-02 14:58] emodric commented on #92
@andrerom Will this be closed by #97 ?

[2019-04-02 14:58] emodric commented on #87
Hi @omh ! Is this issue fixed with #95 (which is a successor of #90) ?

[2019-04-02 15:00] emodric commented on #77
@wizhippo @pbek @raupie @flutchman Hi guys! Can anyone of you confirm that 600fea556edd5d8799457dfb391564136c2de725 fixes this issue?

[2019-04-02 15:04] andrerom commented on #92
Mostly, so yew you can close this once it's merged.

Remaining issues:
- doing this is fromHash (but no clear alternative for now)
- why kernel called fromHash several times (4) in the profilings done, as opposed to just once

[2019-04-02 15:16] emodric commented on #92
:+1:

I'll try to investigate.

[2019-04-02 15:36] wizhippo commented on #77
@emodric Working here now with `override_kernel_templates` left as true and not having to redefine `field_templates`

[2019-04-02 15:37] emodric commented on #77
Thanks!

Closing as fixed :)

[2019-04-02 15:37] #77 closed

[2019-04-02 17:27] emodric commented on #92
Mostly fixed by #97

[2019-04-02 17:27] #92 closed

[2019-04-02 17:28] emodric commented on #76
Fixed with 7f2efd6e3eb555337c21cf1176353194b4a1964a

[2019-04-02 17:28] #76 closed

[2019-04-02 18:23] omh commented on #87
@emodric Yepp, feel free to close this when merged!

[2019-04-02 18:25] emodric commented on #87
It is already merged :)

Thanks for clarifying, closing!

[2019-04-02 18:25] #87 closed

[2019-04-17 19:08] dia-sgraf opened #99 "graphql Support"
When or is it planned to offer graphql support for netgen/TagsBundle?

[2019-04-17 19:13] emodric commented on #99
Hi. Due to lack of free time, unless community contributes, there are currently no plans to offer graphql support.

[2019-04-17 19:28] #99 closed

[2019-05-21 11:41] peninonwilliam opened #101 "Adding translation files for the french language"
I just want to add the translation files so that the French language is supported natively.

[2019-05-21 12:08] emodric commented on #101
Hi @peninonwilliam !

Why don't you create a pull request with french translation files? :)

[2019-05-21 12:12] peninonwilliam commented on #101
Hi @emodric modric

it seems that I can not push the branch of work on the deposit

`git push origin add-fr-translation
Username for 'https://github.com': peninonwilliam
Password for 'https://peninonwilliam@github.com':
remote: Permission to netgen/TagsBundle.git denied to peninonwilliam.
fatal: unable to access 'https://github.com/netgen/TagsBundle.git/': The requested URL returned error: 403`

[2019-05-21 12:24] emodric commented on #101
You need to fork the project (button at the top of the page to the right) to your github account and then push the code there. After that, GitHub will give you the option to create a pull request.

Search the github docs for forks and pull requests if you still have problems :)

[2019-05-21 12:35] peninonwilliam commented on #101
Thanks for the information, I'll do that

[2019-05-21 12:52] #101 closed

[2019-06-24 12:40] emodric commented on #56
Fixed by #103

[2019-06-24 12:40] #56 closed

[2019-08-21 12:10] ahmed-bhs opened #104 "Update eztag field value"
I'm trying to update a content wish have an eztag field value. I'm flowing the content updatethe documentation section https://doc.ezplatform.com/en/1.7/api/public_php_api_managing_content/#updating-content, unfortunately I'm getting this exception: `Content fields did not validate`

This is my code:
[code]
Any idea would be appreciated.

[2019-08-21 12:25] #104 closed

[2019-10-24 16:11] h-behme opened #111 "v4.0.0-beta2 - explode() expects parameter 2 to be string, null given"
In eZ Platform 3.0.0-beta3 and tagsbundle v4.0.0-beta2, everytime an object with eztags is published and the tags aren't filled, it runs in an error.
The eztags field isn't required, so it should be fine if it not filled. If it is filled with a tag, everything works fine and the object is published without an error.

Steps to reproduce:

1. Create Content Type with min. one eztags field, field is

[2019-10-24 18:25] emodric commented on #111
Hi!

Thanks for the error report!

Can you please check if https://github.com/netgen/TagsBundle/pull/106 fixes your problem?

[2019-10-25 07:02] h-behme commented on #111
Yes, checked out master and it seems to fix this.
Thank you!

[2019-10-25 07:02] #111 closed

[2019-10-25 07:07] emodric commented on #111
Alright, give me an hour to get to the office!

[2019-10-25 08:33] emodric commented on #111
@h-behme Tagged 4.0.0-beta3 :)

[2020-01-08 22:56] stevecohenfr opened #115 "Validator '%TagsValueValidator%' is unknown"
Hi,

After installing TagsBundle in my fresh eZ Platform 2.5 install I got this errors when creating a new Content type with Tags attribut :

    Validator '%TagsValueValidator%' is unknown
    FieldType '%eztags%' does not accept settings

Clearing cache does not fix this issue :/

Thanks

[2020-01-09 12:37] emodric commented on #115
Hi.

I cannot reproduce this. On latest eZ Platform 2.5, I have successfully created the content type with tags attribute, as well as a new content of that type.

Can you provide detailed steps on how to reproduce this?

[2020-01-09 13:24] stevecohenfr commented on #115
I cannot tell you how to really reproduce it... My install is not totally fresh, I start developing on it recently but have just my bundle, no custom dependencies.

Do you have an idea of what I have missed ?

I followed this instructions of release 3.4 : https://github.com/netgen/TagsBundle/blob/3.4-release/doc/INSTALL.md

Also for Roles policies, labels are not loaded, I got for exemple "role.po

[2020-01-09 13:35] emodric commented on #115
If you followed instructions, there's nothing really to miss. What version is installed? Can you specify step by step what do you to when you receive the error?

Translations are indeed missing, I fixed that now and will release the fix in coming days.

[2020-01-09 14:38] stevecohenfr commented on #115
Here what i've done :

[code]

After that I added this to my AppKernel.php
[code]

This at the really end of `app/config/routing.yml`
[code]

Imported the db :
[code]
(dont worry -uroot -proot is for my local env ^^)

And give the 'Read' permisions to the 'Tags' module for the Anonymous role

Nothing else.

In back office, i create a new content type, add the Tags attribute. And got this errors :

[2020-01-09 14:42] stevecohenfr commented on #115
Here are the logs when I save my content type with Tags attribute : https://pastebin.com/iEyVQB2d

Maybe you can find here the reason ?

[2020-01-09 14:45] emodric commented on #115
The process is pretty much normal, no errors there. I'm curious: where do you get the errors about known validator and settings? Because I only get the "This value is not valid" if I put an empty value max tags (not 0).

![image](https://user-images.githubusercontent.com/362286/72077114-fdd28f80-32f6-11ea-8e83-a083f04171b9.png)

[2020-01-09 14:49] stevecohenfr commented on #115
Same place :

<img width="1436" alt="Capture d’écran 2020-01-09 à 15 48 27" src="https://user-images.githubusercontent.com/3537910/72077418-86513000-32f7-11ea-916d-3fd64d22605e.png">

[2020-01-09 14:51] emodric commented on #115
Still can't reproduce :/

Which version of eZ kernel and repo forms are you running? (`composer show ezsystems/ezpublish-kernel`, `composer show ezsystems/repository-forms`)

[2020-01-09 14:59] stevecohenfr commented on #115
[code]

I tried with php 7.3.1 and 7.1.26

[2020-01-09 15:08] emodric commented on #115
Those are not the latest versions. Have you tried running `composer update` to see if it will fix the problem? Although, I don't see any relevant changes in later versions.

Maybe you could ask on eZ Community Slack to see if anyone else has run into this problem?

[2020-01-09 15:14] stevecohenfr commented on #115
I tried in another project (my sandbox of ezp 2.5). Same errors :/

I will try to upgrade and if got the same error will ask on slack. Thank you for your help.

[2020-01-09 17:12] stevecohenfr commented on #115
I ran `composer update`

And now my sandbox is broken ^^

[code]

[2020-01-10 10:25] emodric commented on #115
What changed during composer update ? This does not sound related to tags bundle :/

[2020-01-10 12:09] stevecohenfr commented on #115
So, I made a REALY fresh install of ezplatform from the [ezplatform doc](https://github.com/ezsystems/ezplatform/tree/2.5), without any modification in the conf or anything else. Installed your bundle, and I got the same error... I don't know what is wrong with me ^^
I will try to debug. Any idea from where i can start to put my var_dumps; die; ? ^^

[2020-01-10 12:11] emodric commented on #115
Somwhere in the tags type class I guess.

I will do the same, I will install a fresh version of eZ and test!

[2020-01-10 12:20] emodric commented on #115
No issues whatsoever on a clean eZ Platform 2.5.8 install :/ Content type is either created without issues, or I get a regular "This value is not valid" if I put an empty max tags value.

[2020-01-10 12:29] stevecohenfr commented on #115
Hmm, i found that this exception `Validator '%TagsValueValidator%' is unknown` is thrown from `vendor/ezsystems/ezpublish-kernel/eZ/Publish/Core/FieldType/FieldType.php:159` and not from `vendor/netgen/tagsbundle/bundle/Core/FieldType/Tags/Type.php:276`

[2020-01-10 12:32] emodric commented on #115
That's normal, that is the generic eZ kernel code that checks the validity of the field. Why it doesn't trigger for me is a million dollar question :D

[2020-01-10 12:33] emodric commented on #115
Although, now that I read it a bit more, `vendor/ezsystems/ezpublish-kernel/eZ/Publish/Core/FieldType/FieldType.php:159` should not be executed, because that method is overriden in the tags field type. Weird indeed.

[2020-01-10 16:29] stevecohenfr commented on #115
OMG found it...

I registered your bundle before "eZ Systems" in the AppKernel... I moved it at the end of dependencies and now it works fine. I want to kill myself ^^

[2020-01-10 16:49] stevecohenfr commented on #115
Now "Maximum number of allowed tags" is prefilled with 0, and everything works fine. Sorry for my mistake and thank you very much for your time !

[2020-01-10 17:34] emodric commented on #115
I'm glad you solved it! :)

[2020-01-10 17:51] #115 closed

[2020-01-14 11:29] bjko opened #116 "Synonyms are not found in the search"
Tag synonyms are not found in tghe search.

Add a synonym to a tag. Tag a content with this tag. Try to find this content by searching the synonym.

[2020-03-10 12:08] bjko opened #117 "Allow ezplatform-solr-search-engine v 2.0"
update composer.json to allow setup of ezplatform-solr-search-engine v 2.0

[2020-03-12 20:39] wizhippo opened #118 "If using postgres autocomplete is case sensitive"
As like in postgres is case sensitive the causes results to not be returned.

https://github.com/netgen/TagsBundle/blob/f3162ea6814df09cb007b4aea75f842d7436a775/bundle/Core/Persistence/Legacy/Tags/Gateway/DoctrineDatabase.php#L308

perhaps convert to all upper or lower case for the like expression?

[2020-03-16 09:59] emodric commented on #118
Hi!

I've pushed to `3.4-release` a fix. Mind testing if everything is okay before tagging?

[2020-03-16 10:04] emodric commented on #117
Fix in 0f5fe58, will be available soon in `3.4.6`

[2020-03-16 10:05] #117 closed

[2020-03-16 13:17] wizhippo commented on #118
@emodric Working thanks

[2020-03-16 13:31] emodric commented on #118
Thanks!

Released: https://github.com/netgen/TagsBundle/releases/tag/3.4.6

[2020-03-16 13:31] #118 closed

[2020-03-23 08:31] janit opened #119 "Tag route generation in template fails on eZ Platform v3.0.0-beta6+"
Symfony 5 used from eZ Platform v3.0.0-beta6 onwards fails to work with [the field template](https://github.com/netgen/TagsBundle/blob/master/bundle/Resources/views/eztags_content_field.html.twig#L3):

[code]

This results in an error, e.g.

[code]

Similar issue is also with the core eZ Platform routing, when using location objects, for example: `{{ path(locationObject) }}`, discussion on topic h

[2020-03-23 09:12] emodric commented on #119
Thanks @janit !

I am basically waiting for https://github.com/ezsystems/ezpublish-kernel/pull/3000 to be merged to test if using those functions works. If not, I'll implement a solution. If so, it will take some time probably, since I have other pressing priorities currently on client projects.

[2020-03-23 09:24] janit commented on #119
Good to hear you are ok @emodric despite the earthquake in Zagreb.

I created a PR which explicitly uses the route param. The syntax in that one is a functional workaround for me in an overridden template. It is here: https://github.com/netgen/TagsBundle/pull/120

[2020-03-23 09:26] emodric commented on #119
Thanks! Yes, Netgen is safe :) Only cosmetic damage to the office!

If you could test if `ez_path` from eZ PR also works, that would be awesome!

[2020-03-24 17:25] #119 closed

[2020-09-14 11:04] ludwig031 opened #121 "Simplify adding criteria for RelatedContentAdapter"
Needs to implement adding criteria for RelatedContentAdapter.
For example adding array of content classes in parameters.

[2020-11-03 13:03] hgiesenow opened #123 "Missing browser validation for required field"
Using eztags in eZ 2.5 with the page builder (enterprise edition). I tried to create a page, that contains a ezlandingpage layout as well an eztags field that is required. When i press the "Publish" button, but no tag is selected, the page is being reloaded and all blocks are gone and i'm being asked to select a layout again.
When other required fields are not set, the publish button will not subm

[2020-11-03 15:20] emodric commented on #123
Hi!

I cannot reproduce sadly since I don't use enterprise edition with ezlandingpage.

PR is welcome to fix this issue, however :)

[2020-11-06 08:34] #123 closed

[2020-11-06 08:39] emodric commented on #123
Released as https://github.com/netgen/TagsBundle/releases/tag/3.4.7 & https://github.com/netgen/TagsBundle/releases/tag/4.0.4

[2020-11-26 08:48] dtraore opened #126 "[Ez Platform v3.2] Service @eztags.api.service.tags not existing"
Hello,
I'm upgrading my Ez EE instance from 2.5 to 3.2 and I'm facing to this error.

You have requested a non-existent service "@eztags.api.service.tags"

I try to use the TagsService (Netgen\TagsBundle\API\Repository\TagsService) from my controller Action but still doesn't work.

Any suggest ? did I miss something.

Thanks

[2020-11-26 16:25] dtraore commented on #126
Based on your comment on slack ezcomminity I fix it by adding the service allias

Netgen\TagsBundle\Core\Repository\TagsService: "@eztags.api.service.tags.inner"

Thanks

[2020-11-26 16:25] #126 closed

[2021-03-02 08:53] ludwig031 opened #130 "Browse tag input outside of field wrapper"
Browse tag input field falls out of field wrapper in Ibexa administration (3.2)
![image](https://user-images.githubusercontent.com/30387773/109622909-eb3f9900-7b3c-11eb-9b92-3b4f2a2dc098.png)

[2021-03-04 11:23] fredriktid opened #131 "Missing expire/TTL on Redis keys"
When inspecting Redis keys from this bundle they're missing expiration/TTL:

[code]

To avoid maxing out Redis memory with the "volatile-lru" eviction strategy one can define a "default_lifetime" in `app/config/cache_pool/cache.redis.yml `.

[code]

volatile-lru states that:

Expected behaviour would be that cache items are given a TTL when defined in Symfony.

Would be great to have some feedback

[2021-03-04 11:35] emodric commented on #131
Hi!

Thanks for the issue and the research!

However, Tags Bundle only reuses configuration from eZ Platform/Ibexa kernel and does not control cache pool at all. So any changes to default config should be done on eZ repos, not here.

I hope this makes sense to you?

[2021-03-04 11:44] fredriktid commented on #131
Thanks for the quick reply. Your description would be the expected behaviour but we're experiencing something else.

[code]

It seems to be that eZ-keys (prefixed with `ez:`) all have a TTL, but some keys from this bundle don't. When I run the following command to list all keys without a TTL, only keys named `tag-*` are returned.

[code]

Though I haven't dived into your code enough to point out a

[2021-03-04 11:48] emodric commented on #131
It might be that eZ made some modifications to their caching layer since the last time anyone touched the cache layer here in Tags Bundle. That seems to me the most reasonable asumption.

If you have time, it would be appreciated if you can look into it. I will try to find some time too.

[2021-03-04 11:53] fredriktid commented on #131
Absolutely, I'll try to find some time in the following days.

[2021-03-08 22:31] thiagocamposviana commented on #130
It can be solved with this:

` .ez-content-edit .ez-field-edit.ez-field-edit--eztags:after{clear: both; content: ' ';display: block;}`

[2021-03-08 22:33] emodric commented on #130
@thiagocamposviana Wanna make a PR? :)

[2021-03-09 01:19] thiagocamposviana commented on #130
@emodric Thanks, but the change should be so small it is better you fix it without all the back and forth.

[2021-03-16 09:56] SuperSleInt opened #132 "Error on Publish required Tag"
On Ibexa Experience  3.2.5 and on composer.json :  `"netgen/tagsbundle": "^4.0",`

When I publish an content with required Tag, I have this error :
[code]
And the publication don't work.

But if the Tag is not required, publication works fine.

[2021-04-01 14:21] Loobs24 commented on #132
I encounter almost the same error on eZ Platform 3.1.5 and netgen/tags-bundle 4.0.4.

When I publish a content with required tag, I have the same behavior as described by @SuperSleInt but with a slighlty different error :
[code]
It seems that this error comes from this pull request : https://github.com/netgen/TagsBundle/pull/124

[2021-06-07 15:15] patrickallaert opened #134 "Footer above the content in admin interface"
Originally submitted as https://github.com/ezsystems/ezplatform-admin-ui/pull/1771, it appears to be an issue introduced by TagsBundle.

[2021-06-08 11:05] #134 closed

[2021-07-14 09:13] emodric commented on #132
Fixed in 4.0.12

[2021-07-14 09:13] #132 closed

[2021-07-14 09:13] emodric commented on #130
Fixed in 4.0.12

[2021-07-14 09:13] #130 closed

[2021-07-14 09:15] emodric commented on #72
Closing as obsolete.

[2021-07-14 09:15] #72 closed

[2021-07-14 09:16] emodric commented on #75
Closing as obsolete.

[2021-07-14 09:16] #75 closed

[2021-08-24 11:19] reithor opened #139 "Method not aloowed when filtering related content"
_Tested on Ibexa Experience 3.3.6 (using netgen/tagsbundle 4.0.12):_

Error is thrown when filtering related content (use form on https://[host]/admin/tags/admin/tag/[tagid]/content):

[code]

Simple fix could be :

[code]

[2021-09-07 13:04] mauricios commented on #116
Hi!,

I'm having  the same issues with synonyms in searches. What is the purpose of the tags Synonyms?. It seems they are not included in searches unless the synonyms  are explicit selected in the tags field.

I think a good improvement (or a configurable option) would be to index the main tag instead of synonyms when synonyms are used in the content. In this way, the search results will be the sa

[2021-11-10 14:23] patrickallaert opened #141 "Invalid HTML generated for tag links with `ez_render_field()`"
If a tag is composed of more than one word, example "Boost My Process", the above code:
[code]
will render:
[code]

Using an HTML validator like https://validator.w3.org/ would complain about the space with error:
[code]

[2021-11-12 13:21] #141 closed

[2021-12-09 12:16] jbcr opened #143 "How to generate slug for tags"
I can add and use multi-word tags but, I don't want space or special char in the URL.

How to can change the generated URL?

Ex: Tag name "eZ Publish / eZ Platform" use the URL "/tags/view/eZ-Publish-eZ-Platform"

[2021-12-09 12:21] emodric commented on #143
Hi!

In short, you can't :)

However, this is a good idea to have, so I'm gonna keep the issue open, to have a reminder for the future.

Cheers!

[2021-12-09 12:56] jbcr commented on #143
Hi!

Thank you for this answer.

[2021-12-13 19:31] kh09211 opened #144 "Change word separator char in url from + to %20 for Ibexa DXP 3.3.12"
Hello, we have recently encountered a situation when upgrading to Ibexa 3.3.12 where it appears that Ibexa has changed from using %20 in it's URL to plus signs. We were not sure the best way to rectify this, so we made a patch to the netgen tag router, and installed it with composer patches package. This works, but is there  a better way?

[code]

[2021-12-14 09:31] emodric commented on #144
Well, not really. You either do it as you did, or replace the `TagRouter` class completely with a compiler pass.

[2021-12-14 14:02] kh09211 commented on #144
Thank you Emodric for the reply!

[2021-12-14 14:02] #144 closed

[2022-01-20 07:48] bjko opened #145 "Support for php 8"
please support php 8  in your bundle

[2022-01-29 15:42] yoyolepsy opened #146 "Issue with upgrade from symfony 5.3 to symfony 5.4"
Hello,

After installation of Ibexa Experience 3.3.13, I had issue when I tried to create tag from backoffice.
I have this following error "An error has occurred resolving the options of the form "Netgen\TagsBundle\Form\Type\TagTreeType": The option "constraints" with value null is expected to be of type "Symfony\Component\Validator\Constraint" or "Symfony\Component\Validator\Constraint[]", but is

[2022-02-04 15:24] kh09211 commented on #146
Hello, we have also experienced the same issue as Yoyolepsy when upgrading our existing project to Ibexa experience 3.3.14

[2022-02-08 10:34] emodric commented on #145
Fixed in 4.0.16

[2022-02-08 14:03] bcafuk commented on #146
Hello, @yoyolepsy

We have found a solution to the first issue with the constraints. However, we have not been able to reproduce the second issue with the searchable fields.

Could you please provide more detailed steps which lead to this error?

[2022-02-09 11:42] yoyolepsy commented on #146
Hello, @bcafuk ,

Thanks for the solution. I modified locally waiting a tag will be create. It's works. For the second issue, I can't  longer reproduce it now. Maybe this issue was linked to the first and data have been corrupted.
So it is ok for me. Thanks again.

Hello @emodric , I have seen fix has been merged in master, do you know if a tag version will be created soon?
Thanks in advance

[2022-02-09 11:46] emodric commented on #146
@yoyolepsy Yes, I will tag it soon, I was waiting for your feedback regarding the second issue :)

[2022-02-09 11:56] yoyolepsy commented on #146
Thanks @emodric .
Thanks again @bcafuk

[2022-02-09 12:21] emodric commented on #146
Fixed in 4.0.17.

[2022-02-09 12:21] #146 closed

[2022-03-25 15:07] AUDUL opened #148 "Urlencode and urldecode"
Tag url is encoded with "urlencode" function but decoded with "rawurldecode"
- https://github.com/netgen/TagsBundle/blob/76fc5230d0c9003a2d541dd460248e1cae1d6b62/bundle/Routing/Generator/TagUrlGenerator.php#L90
- https://github.com/netgen/TagsBundle/blob/76fc5230d0c9003a2d541dd460248e1cae1d6b62/bundle/Routing/TagRouter.php#L65

So I get a 404 error when accessing the tag

Is it possible to choose

[2022-03-31 06:09] AUDUL commented on #148
If you replace the + by %20 the url work

https://www.code-rhapsodie.fr/tags/Technos/Dataflow/eZ+Dataflow

[2022-07-04 19:20] patrickallaert commented on #148
I confirm I am facing the same issue.
With tags containing a space, the URL generated by template: `vendor/netgen/tagsbundle/bundle/Resources/views/eztags_content_field.html.twig` for tag "Sport et loisirs" will be:
https://example.com/tags/view/Sport+et+loisirs
Navigating to that page will result in an error: `Could not find 'tag' with identifier 'Sport+et+loisirs'`
However changing the URL to ht

[2022-07-04 19:30] patrickallaert commented on #148
I can confirm that patch https://gist.github.com/patrickallaert/eb497baef9e3cca4806f8294da6dadaa does solve the problem here.

[2022-07-22 10:29] Digi92 opened #149 "Tags merge don't update search index"
Hello,
when i merge two tags the value in the field "keyword_id" in the table "eztags_attribute_link" is updated but the search index is not updated. This means that the moved content are no longer found and are also not found in the "relatedContentAction". The content is only found when I recreate the index.

[2022-08-02 12:08] haakonhorvei opened #150 "Elasticsearch support"
Hello!

Elasticsearch was added as an option for the ([search](https://doc.ibexa.co/en/3.3/guide/search/search/)) in version 3.1. It seems to me like this bundle supports legacy and Solr, but not Elasticsearch. Is there any plans to support Elasticsearch in the future?

[2022-08-02 12:17] emodric commented on #150
Hi @haakonhorvei

Currently, there's no plans to support Elastic search due to implementation in Ibexa being closed source.

[2022-08-04 19:46] patrickallaert commented on #148
ping @emodric

[2022-08-04 20:32] emodric commented on #148
Hi @patrickallaert

I'll try to take a look at this next week.

Thanks for the proposed solution 👍

[2022-08-25 11:58] #148 closed

[2022-08-25 11:59] emodric commented on #148
Fixed in 4.0.18 and 5.0.1.

Thanks @patrickallaert for the fix and @AUDUL for reporting the issue!

[2022-09-21 13:50] #150 closed

[2022-10-18 14:50] plesigne opened #153 "Ibexa 4.2 : Bug after creating first tag, on tag show action"
On tag 5.0.2

When creating a tag, if no content type has an eztag field, there is this error:

`Argument '$criterion->target' is invalid : No searchable fields found for the given criterion target '
`
Error is thrown in vendor/netgen/tagsbundle/bundle/Core/Search/Solr/Query/Common/CriterionVisitor/Tags/TagId.php line 28.

It is therefore necessary to add an eztag field to a content before the cre

[2022-10-19 14:51] emodric commented on #153
Hi @plesigne !

Thanks for reporting this issue. I have reproduced it, however, this is not easily fixed.

The exception you're getting is actually present by design, to let you know that you can't use `TagId` and `TagKeyword` criteria unless you add some `eztags` fields to your content types.

However, Tags admin interface uses the same criteria to show content related to a specific tag, and this

[2022-10-19 14:51] #153 closed

[2022-10-25 12:12] iherak opened #154 "Trashed content crashed admin tag view"
If content that is related to the tag is moved to trash, it is not possible to view the tag in admin - related content is returned without main location so it fails with `Cannot generate an UrlAlias route for content without main location.`

[2022-10-25 14:12] emodric commented on #154
@iherak Fixed in 3.4.12

Please test and report back :)

[2022-10-26 09:43] iherak commented on #154
Tested and confirmed it works now! Thank you @emodric!

[2022-11-02 14:48] iherak commented on #154
Hm, seems this does not fix it completely, it still crashes on `related_content` (showing all related content of the tag).

[2022-11-04 08:36] emodric commented on #154
This might not be easily fixed, I'm afraid. Fetching related content is done by using `TagsService::getRelatedContent`, which internally uses eZ search service which, it seems, does not support filtering out content without main location.

The issue lies in paging, that is, fetching the count of content items. While it is possible to filter out content without the main locations after the fetch, b

[2022-11-04 09:54] iherak commented on #154
Maybe we could take care of this at template level - do not generate a link if the content does not have main location id set? We just show content information without the link?

[2022-11-04 10:03] emodric commented on #154
Sounds good 👍

[2022-11-07 09:04] emodric commented on #154
Fixed in 3.4.13

[2022-11-07 09:04] #154 closed